body {

    background-image: url("hold_hatter.jpg");
}


p {

    color:  black;
}

img {

float: right;

}

#cica {

    width: 300px;
    height: 300px;
    float: left;
}

div {
    text-align: center;
    
}

div a {
    font-size:larger ;
    padding: 14px 16px;
 }